.App {
  text-align: center;
}

.tablero div {
  float: left;
}

.tablero-table{
  width: 100%;
  float: left;
  border: 1px solid black;
  border-collapse: collapse;
}

.tablero-table td{
  border: 1px solid black;
  width: 100px;
  height: 100px; 
}

.tablero-controls {
  margin: 30px;
}

.tablero-controls .btn {
  padding: 5px 15px;
  font-size: 20px;
  display: block;
  margin: 15px 0;
}


.tablero-table tr:nth-child(even) > td:nth-child(odd){
  background: #FACD8A;
}
.tablero-table tr:nth-child(even) > td:nth-child(even){
  background: #AA592A;
}
.tablero-table tr:nth-child(odd) > td:nth-child(odd){
  background: #AA592A;
}
.tablero-table tr:nth-child(odd) > td:nth-child(even){
  background: #FACD8A;
}

.tablero-table tr > td.has-reina{
  background-image: url("reina.png") !important;
  background-color: red;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}