.App {
  text-align: center;
}

.tablero{
  width: 600px;
  height: 600px;
}

.tablero-table{
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

.tablero-table td{
  border: 1px solid black;
  width: 100px;
  height: 100px; 
}

.tablero-table tr:nth-child(even) > td:nth-child(odd){
  background: #FACD8A;
}
.tablero-table tr:nth-child(even) > td:nth-child(even){
  background: #AA592A;
}
.tablero-table tr:nth-child(odd) > td:nth-child(odd){
  background: #AA592A;
}
.tablero-table tr:nth-child(odd) > td:nth-child(even){
  background: #FACD8A;
}